@font-face {
  font-family: "EuclidFlex";
  src: url("EuclidFlex-Bold-WebS.woff") format("woff")
}

html,
body,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#titlespan {
  font-size: 36px;
  font-weight: 400;
  font-family: EuclidFlex, sans-serif;
  color: #232253;
}

#mapid {
  z-index: 1;
  width: 100%;
}

.leaflet-container.crosshair-cursor-enabled {
  cursor: crosshair;
}

.h6 {
  font-weight: bold;
}

.fly {
  position: absolute;
}